<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= typeof title !== 'undefined' ? title : 'Admin Login' %></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="flex flex-col min-h-screen">
  <main class="flex-grow">
    <%- body %>
  </main>
</body>
</html>

<script>

<% if (typeof message !== 'undefined' && message) {%>
  Swal.fire({
    icon:'<%= message.type %>',
    title:'<%= message.type ==='success'? 'success':'error' %>',
    text:'<%=message.text %>',
    timer:2000,
    showConfirmButton:false
  })
<% } %>

</script>