<!-- Banner Section with Right-Bottom Button -->
<section class="container mx-auto mt-10">
  <a href="/products">
    <img class="rounded-2xl w-full" src="/images/newBanner.jpeg" alt="">
  </a>
</section>

<!-- Features Section -->
<section class="py-12 px-4 sm:px-6 lg:px-8 bg-white">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="flex flex-col items-center text-center">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-100 mb-4"
        >
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            x="0"
            y="0"
            viewBox="0 0 64 64"
            style="enable-background: new 0 0 64 64"
            xml:space="preserve"
          >
            <style>
              .st1,
              .st11,
              .st17 {
                fill: #81d4fa;
                stroke: #0277bd;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 10;
              }
              .st11,
              .st17 {
                fill: #eee;
              }
              .st17 {
                fill: none;
              }
            </style>
            <g id="Worldwide_Shipping">
              <circle class="st1" cx="32" cy="32" r="25" />
              <path
                class="st17"
                d="M3 32C3 16 16 3 32 3M61 32c0 16-13 29-29 29M7 32h50"
              />
              <path
                d="M15.7 15.7c9-9 23.6-9 32.5 0"
                style="
                  fill: none;
                  stroke: #e1f5fe;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                "
              />
              <path
                d="M48.3 48.3c-9 9-23.6 9-32.5 0"
                style="
                  fill: none;
                  stroke: #29b6f6;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                "
              />
              <ellipse class="st17" cx="32" cy="32" rx="12.5" ry="25" />
              <path
                class="st17"
                d="M32 44.5c-7.4 0-14.1 1.6-18.6 4.2C17.9 53.8 24.6 57 32 57s14.1-3.2 18.6-8.3c-4.5-2.6-11.2-4.2-18.6-4.2zM32 19.5c7.4 0 14.1-1.6 18.6-4.2C46.1 10.2 39.4 7 32 7s-14.1 3.2-18.6 8.3c4.5 2.6 11.2 4.2 18.6 4.2z"
              />
              <path class="st1" d="M32 7v50" />
              <ellipse class="st11" cx="10.5" cy="58.5" rx="7.5" ry="2.5" />
              <ellipse class="st11" cx="53.5" cy="25.3" rx="7.5" ry="2.5" />
              <path
                d="M5.3 38.3h0c-2.5 2.4-3 6.2-1.2 9.2l6.5 11 6.5-11c1.8-3 1.2-6.8-1.2-9.2h0c-3.1-2.8-7.7-2.8-10.6 0z"
                style="
                  fill: #ec407a;
                  stroke: #0277bd;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                "
              />
              <circle class="st11" cx="10.5" cy="43.7" r="3" />
              <g>
                <path
                  d="M48.3 5.1h0c-2.5 2.4-3 6.2-1.2 9.2l6.5 11 6.5-11c1.8-3 1.2-6.8-1.2-9.2h0c-3.1-2.8-7.7-2.8-10.6 0z"
                  style="
                    fill: #ffa726;
                    stroke: #0277bd;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  "
                />
                <circle class="st11" cx="53.5" cy="10.5" r="3" />
              </g>
            </g>
          </svg>
        </div>
        <h3 class="font-medium text-gray-900">Free Shipping</h3>
        <p class="mt-2 text-sm text-gray-500">
          On orders over ₹799. Delivery time: 3-5 business days.
        </p>
      </div>

      <div class="flex flex-col items-center text-center">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-100 mb-4"
        >
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            x="0"
            y="0"
            viewBox="0 0 256 256"
            style="enable-background: new 0 0 256 256"
            xml:space="preserve"
          >
            <style>
              .st0 {
                fill: #3a312a;
              }
              .st2 {
                fill: #87796f;
              }
              .st12 {
                fill: #f16c7a;
              }
              .st18 {
                fill: #d5dc57;
              }
            </style>
            <path
              class="st18"
              d="M59.095 25.938c-.974 11.564-13.025 13.39-13.025 13.39 10.347.487 12.925 14.059 12.925 14.059.221-9.677 13.321-14.202 13.321-14.202-9.813-.588-13.221-13.247-13.221-13.247z"
            />
            <path
              class="st0"
              d="M72.407 37.687c-8.605-.515-11.833-12.024-11.864-12.141a1.5 1.5 0 0 0-2.942.265c-.86 10.215-11.314 11.964-11.754 12.033a1.5 1.5 0 0 0 .155 2.982c9.028.425 11.498 12.718 11.522 12.842a1.5 1.5 0 0 0 2.973-.247c.195-8.508 12.192-12.777 12.313-12.819a1.502 1.502 0 0 0-.403-2.915zM58.84 48.033c-1.356-3.131-3.709-6.908-7.587-8.877 2.931-1.405 6.409-3.913 8.202-8.272 1.551 3.071 4.2 6.88 8.334 8.722-3.007 1.64-6.922 4.406-8.949 8.427z"
            />
            <path
              class="st18"
              d="M37.396 42.919c-.689 8.179-9.212 9.47-9.212 9.47 7.318.344 9.142 9.944 9.142 9.944.156-6.844 9.422-10.045 9.422-10.045-6.941-.415-9.352-9.369-9.352-9.369z"
            />
            <path
              class="st0"
              d="M46.838 50.791c-5.766-.345-7.973-8.186-7.994-8.265a1.5 1.5 0 0 0-2.942.266c-.579 6.871-7.646 8.067-7.942 8.114a1.5 1.5 0 0 0 .155 2.982c6.035.284 7.723 8.644 7.739 8.726a1.5 1.5 0 0 0 2.973-.246c.13-5.709 8.331-8.634 8.413-8.662a1.5 1.5 0 0 0-.402-2.915zm-9.585 6.794c-.924-1.885-2.34-3.947-4.447-5.28 1.855-1.041 3.697-2.63 4.871-4.916 1.057 1.874 2.654 3.954 4.941 5.223-1.85 1.102-3.989 2.741-5.365 4.973z"
            />
            <path
              class="st18"
              d="M37.358 16.261c-.657 8.182-9.175 9.507-9.175 9.507 7.319.316 9.181 9.908 9.181 9.908.129-6.845 9.383-10.082 9.383-10.082-6.943-.388-9.389-9.333-9.389-9.333z"
            />
            <path
              class="st0"
              d="M46.83 24.097c-5.741-.321-7.983-8.083-8.025-8.231a1.501 1.501 0 0 0-2.942.277c-.552 6.873-7.615 8.096-7.911 8.144a1.5 1.5 0 0 0 .166 2.981c6.036.261 7.756 8.614 7.772 8.696a1.5 1.5 0 0 0 2.972-.257c.108-5.71 8.298-8.667 8.378-8.695a1.5 1.5 0 0 0 .99-1.626 1.496 1.496 0 0 0-1.4-1.289zm-9.558 6.832c-.931-1.882-2.355-3.938-4.468-5.263 1.852-1.048 3.687-2.644 4.852-4.935 1.064 1.87 2.669 3.944 4.961 5.204-1.845 1.108-3.977 2.757-5.345 4.994z"
            />
            <path
              class="st2"
              d="M119.359 193.279c-8.51 0-16.71-4.44-21.24-12.2a24.502 24.502 0 0 0-6.78-7.5c-2.72-1.97-5.84-3.4-9.19-4.13l-20.21 53.14 31.74-15.59 13.37 32.74 17.92-47.13c-1.86.45-3.74.67-5.61.67z"
            />
            <path
              class="st0"
              d="M126.094 191.617a1.5 1.5 0 0 0-1.478-.466 22.364 22.364 0 0 1-5.258.627c-8.177 0-15.819-4.39-19.944-11.455a25.826 25.826 0 0 0-7.196-7.96 25.975 25.975 0 0 0-9.75-4.381 1.504 1.504 0 0 0-1.721.933l-20.21 53.14a1.499 1.499 0 0 0 2.063 1.879l30.298-14.881 12.762 31.252a1.5 1.5 0 0 0 1.389.933h.018a1.501 1.501 0 0 0 1.384-.967l17.92-47.13a1.499 1.499 0 0 0-.277-1.524zm-19.096 44.032-11.931-29.218a1.498 1.498 0 0 0-2.049-.779l-28.324 13.912 18.385-48.34a23.01 23.01 0 0 1 7.379 3.569 22.852 22.852 0 0 1 6.366 7.042c4.661 7.984 13.296 12.943 22.535 12.943 1.089 0 2.179-.071 3.261-.211l-15.622 41.082z"
            />
            <path
              class="st2"
              d="m206.373 196.333-5.018-13.195-5.206-13.689a24.61 24.61 0 0 0-15.97 11.63 24.588 24.588 0 0 1-21.24 12.2c-1.87 0-3.75-.22-5.61-.67l17.92 47.13 13.37-32.74 31.74 15.59-9.986-26.256z"
            />
            <path
              class="st0"
              d="m217.761 222.055-9.985-26.255a1.502 1.502 0 0 0-2.805 1.066l8.633 22.698-28.324-13.912a1.5 1.5 0 0 0-2.05.779l-11.931 29.217-15.621-41.082a25.41 25.41 0 0 0 3.261.211c9.239 0 17.875-4.959 22.536-12.945 3.018-5.18 7.978-8.992 13.745-10.607l4.732 12.444a1.5 1.5 0 1 0 2.805-1.066l-5.206-13.689a1.503 1.503 0 0 0-1.726-.932c-7.113 1.569-13.289 6.067-16.941 12.338-4.126 7.066-11.769 11.456-19.945 11.456-1.767 0-3.535-.211-5.258-.627a1.5 1.5 0 0 0-1.755 1.991l17.921 47.13c.22.576.768.959 1.384.967h.019c.608 0 1.158-.368 1.389-.933l12.762-31.252 30.298 14.881a1.499 1.499 0 0 0 2.062-1.878z"
            />
            <path
              class="st2"
              d="m221.595 91.407-.044-.05a24.577 24.577 0 0 1-6.101-18.78l.005-.055c1.237-12.421-7.033-23.797-19.23-26.452l-.037-.008a24.58 24.58 0 0 1-16.004-11.633l-.002-.003c-6.297-10.796-19.693-15.148-31.132-10.113a24.575 24.575 0 0 1-19.802 0c-11.439-5.035-24.836-.683-31.132 10.113l-.001.002a24.578 24.578 0 0 1-16.004 11.634l-.037.008c-12.197 2.655-20.467 14.031-19.23 26.452l.005.055a24.58 24.58 0 0 1-6.101 18.78l-.044.05c-8.296 9.317-8.296 23.372 0 32.689l.044.05a24.578 24.578 0 0 1 6.101 18.781l-.005.054c-1.237 12.421 7.033 23.797 19.23 26.452l.037.008a24.582 24.582 0 0 1 16.004 11.633l.002.003c6.297 10.796 19.693 15.148 31.132 10.113a24.58 24.58 0 0 1 19.802 0c11.439 5.035 24.835.683 31.132-10.113l.001-.002a24.573 24.573 0 0 1 16.004-11.633l.037-.008c12.197-2.655 20.467-14.03 19.23-26.451l-.005-.055a24.583 24.583 0 0 1 6.101-18.781l.044-.049c8.296-9.318 8.296-23.373 0-32.691z"
            />
            <path
              class="st0"
              d="M222.671 90.36c-4.278-4.804-6.366-11.231-5.725-17.689 1.313-13.183-7.458-25.248-20.44-28.074a23.135 23.135 0 0 1-15.008-10.889l-.021-.037c-6.685-11.462-20.883-16.074-33.032-10.73a23.13 23.13 0 0 1-18.594 0c-12.14-5.343-26.328-.74-33.018 10.707a23.157 23.157 0 0 1-15.08 10.958c-12.945 2.818-21.717 14.883-20.399 28.122.638 6.401-1.45 12.829-5.773 17.683-8.804 9.887-8.804 24.798.044 34.735 4.278 4.804 6.366 11.232 5.724 17.688-1.313 13.183 7.458 25.249 20.441 28.074a23.141 23.141 0 0 1 15.029 10.926 26.06 26.06 0 0 0 33.032 10.73 23.131 23.131 0 0 1 18.593 0c12.144 5.345 26.346.732 33.032-10.73l.016-.028a23.161 23.161 0 0 1 15.051-10.906c12.944-2.817 21.716-14.883 20.398-28.121a23.142 23.142 0 0 1 5.734-17.639l.042-.048c8.802-9.887 8.801-24.797-.046-34.732zm-2.196 32.739 1.12.998-1.164-.948c-4.835 5.429-7.194 12.691-6.468 19.981 1.161 11.667-6.602 22.344-18.095 24.845a26.15 26.15 0 0 0-16.982 12.343l-.016.028c-5.922 10.125-18.477 14.198-29.217 9.471a26.143 26.143 0 0 0-21.01 0c-10.749 4.732-23.315.649-29.234-9.499a26.164 26.164 0 0 0-17.018-12.351c-11.456-2.493-19.218-13.171-18.051-24.892.72-7.234-1.64-14.497-6.518-19.976-7.791-8.75-7.791-21.945.044-30.744 4.835-5.43 7.194-12.693 6.468-19.981-1.162-11.667 6.601-22.344 18.094-24.846a26.14 26.14 0 0 0 16.967-12.32l.015-.025c5.917-10.144 18.483-14.228 29.233-9.496a26.147 26.147 0 0 0 21.01 0c10.734-4.727 23.287-.658 29.212 9.461l.02.037a26.168 26.168 0 0 0 17.019 12.351c11.456 2.493 19.219 13.171 18.052 24.892-.721 7.235 1.639 14.498 6.518 19.976 7.792 8.75 7.792 21.946.001 30.695z"
            />
            <circle
              transform="rotate(-45.001 139.148 107.754)"
              cx="139.149"
              cy="107.752"
              style="fill: #d4db56"
              r="66.217"
            />
            <path
              class="st0"
              d="M139.148 40.035c-37.339 0-67.717 30.378-67.717 67.717s30.378 67.717 67.717 67.717c37.34 0 67.718-30.378 67.718-67.717s-30.378-67.717-67.718-67.717zm0 132.434c-35.685 0-64.717-29.032-64.717-64.717s29.032-64.717 64.717-64.717c35.686 0 64.718 29.032 64.718 64.717s-29.032 64.717-64.718 64.717z"
            />
            <path
              d="M171.153 109.815h-20.441a3.58 3.58 0 0 1-3.581-3.581V94.567a7.233 7.233 0 0 0-12.342-5.118 7.227 7.227 0 0 0-2.117 5.117v9.027a8.692 8.692 0 0 1-5.893 8.228l-7.02 2.392c.028.214.043.433.043.656v32.712c0 .1-.005.195-.005.29l1.517.385a93.651 93.651 0 0 0 22.492 2.877c.062 0 .119.005.181.005h17.64a5.131 5.131 0 0 0 5.132-5.132v-.067a5.132 5.132 0 0 0-5.132-5.132h3.51a5.131 5.131 0 0 0 5.132-5.132v-.067c0-2.774-2.2-5.033-4.95-5.129-.056-.002-2.979-.003-3.394-.003h6.723a5.132 5.132 0 0 0 5.132-5.132v-.067a5.132 5.132 0 0 0-5.132-5.132h-5.841l.005-.005h8.342a5.131 5.131 0 0 0 5.132-5.132v-.067a5.131 5.131 0 0 0-5.133-5.126z"
              style="fill: #f4e0c4"
            />
            <path
              class="st0"
              d="M177.785 114.947a6.64 6.64 0 0 0-6.632-6.632h-20.441a2.084 2.084 0 0 1-2.082-2.081V94.567c0-4.816-3.916-8.734-8.729-8.734a8.674 8.674 0 0 0-6.176 2.558 8.7 8.7 0 0 0-2.554 6.176v9.027a7.19 7.19 0 0 1-4.877 6.808l-7.02 2.392a1.501 1.501 0 0 0-1.003 1.62c.021.148.03.301.03.456v32.712l-.005.29a1.5 1.5 0 0 0 1.131 1.454l1.517.385a95.408 95.408 0 0 0 22.891 2.925l.151.004h17.641c3.657 0 6.632-2.975 6.632-6.699a6.598 6.598 0 0 0-1.268-3.896c2.757-.806 4.777-3.366 4.777-6.434a6.63 6.63 0 0 0-1.255-3.9c2.751-.81 4.765-3.367 4.765-6.43a6.601 6.601 0 0 0-1.49-4.184 6.683 6.683 0 0 0 3.997-6.15zm-6.632 3.698h-8.343c-.397 0-.784.163-1.065.444a1.499 1.499 0 0 0 1.061 2.561h5.841c2.003 0 3.632 1.629 3.632 3.699a3.636 3.636 0 0 1-3.632 3.631h-6.771a1.5 1.5 0 1 0 0 3l3.391.002c1.964.068 3.502 1.663 3.502 3.696a3.636 3.636 0 0 1-3.632 3.631h-3.51a1.5 1.5 0 1 0 0 3c2.003 0 3.632 1.629 3.632 3.699a3.636 3.636 0 0 1-3.632 3.632l-17.67-.001a6.73 6.73 0 0 0-.142-.004 92.271 92.271 0 0 1-22.132-2.831l-.381-.097v-31.434l5.96-2.031a10.188 10.188 0 0 0 6.91-9.648v-9.027c0-1.531.597-2.972 1.677-4.057a5.69 5.69 0 0 1 4.053-1.677 5.738 5.738 0 0 1 5.729 5.734v11.667a5.087 5.087 0 0 0 5.082 5.081h20.441c2.003 0 3.632 1.629 3.632 3.699a3.637 3.637 0 0 1-3.633 3.631z"
            />
            <path
              d="M114.405 109.471h-7.111a5.282 5.282 0 0 0-5.282 5.282v32.946a5.281 5.281 0 0 0 5.282 5.281h7.111a5.399 5.399 0 0 0 5.399-5.399V114.87a5.399 5.399 0 0 0-5.399-5.399z"
              style="fill: #8bc0d7"
            />
            <path
              class="st0"
              d="M114.405 107.971h-7.111a6.79 6.79 0 0 0-6.782 6.782v8.081a1.5 1.5 0 1 0 3 0v-8.081a3.786 3.786 0 0 1 3.782-3.782h7.111a3.903 3.903 0 0 1 3.899 3.899v32.711a3.903 3.903 0 0 1-3.899 3.899h-7.111a3.786 3.786 0 0 1-3.782-3.781v-12.857a1.5 1.5 0 1 0-3 0v12.857a6.789 6.789 0 0 0 6.782 6.781h7.111a6.907 6.907 0 0 0 6.899-6.899V114.87a6.907 6.907 0 0 0-6.899-6.899z"
            />
            <path
              class="st2"
              d="M110.876 142.054a3.261 3.261 0 1 0 0 6.522 3.261 3.261 0 0 0 0-6.522z"
            />
            <path
              class="st0"
              d="M110.876 140.554a4.767 4.767 0 0 0-4.761 4.761 4.767 4.767 0 0 0 4.761 4.761 4.766 4.766 0 0 0 4.761-4.761 4.765 4.765 0 0 0-4.761-4.761zm0 6.522c-.971 0-1.761-.79-1.761-1.761 0-.971.79-1.761 1.761-1.761s1.761.79 1.761 1.761a1.762 1.762 0 0 1-1.761 1.761z"
            />
            <path
              class="st12"
              d="M152.035 64.638c1.247-1.215.559-3.333-1.164-3.583l-5.454-.792a2.1 2.1 0 0 1-1.582-1.149l-2.439-4.942c-.771-1.561-2.997-1.561-3.768 0l-2.439 4.942a2.1 2.1 0 0 1-1.582 1.149l-5.454.792c-1.723.25-2.411 2.368-1.164 3.583l3.947 3.847a2.1 2.1 0 0 1 .604 1.859l-.932 5.432c-.294 1.716 1.507 3.025 3.048 2.215l4.878-2.565a2.099 2.099 0 0 1 1.955 0l4.878 2.565c1.541.81 3.343-.499 3.048-2.215l-.932-5.432a2.1 2.1 0 0 1 .604-1.859l3.948-3.847z"
            />
            <path
              class="st0"
              d="M153.083 65.712a3.578 3.578 0 0 0 .909-3.692 3.577 3.577 0 0 0-2.906-2.449l-5.454-.792a.6.6 0 0 1-.452-.329l-2.44-4.942a3.577 3.577 0 0 0-3.229-2.007 3.576 3.576 0 0 0-3.228 2.007l-2.44 4.943a.598.598 0 0 1-.452.328l-5.453.792a3.578 3.578 0 0 0-2.907 2.45 3.577 3.577 0 0 0 .911 3.692l3.946 3.846a.603.603 0 0 1 .173.533l-.932 5.432a3.578 3.578 0 0 0 1.433 3.521 3.576 3.576 0 0 0 3.793.274l4.878-2.565a.6.6 0 0 1 .559 0l4.878 2.565a3.59 3.59 0 0 0 3.792-.274 3.58 3.58 0 0 0 1.434-3.522l-.932-5.432a.6.6 0 0 1 .172-.532l3.947-3.847zm-6.042 1.7a3.602 3.602 0 0 0-1.035 3.187l.932 5.432a.578.578 0 0 1-.239.588.579.579 0 0 1-.633.046l-4.878-2.565a3.601 3.601 0 0 0-3.352 0l-4.877 2.564a.577.577 0 0 1-.634-.045.578.578 0 0 1-.239-.588l.932-5.431a3.603 3.603 0 0 0-1.036-3.188l-3.946-3.846a.578.578 0 0 1-.152-.617.578.578 0 0 1 .485-.409l5.454-.792a3.6 3.6 0 0 0 2.711-1.97l2.439-4.943a.578.578 0 0 1 .539-.334c.14 0 .395.043.539.334l2.438 4.941a3.6 3.6 0 0 0 2.711 1.971l5.455.792a.576.576 0 0 1 .484.409.578.578 0 0 1-.151.616l-3.947 3.848z"
            />
            <path
              class="st12"
              d="M125.461 84.024c1.247-1.215.559-3.333-1.164-3.583l-5.454-.793a2.1 2.1 0 0 1-1.582-1.149l-2.439-4.942c-.771-1.561-2.997-1.561-3.768 0l-2.439 4.942a2.1 2.1 0 0 1-1.582 1.149l-5.454.793c-1.723.25-2.411 2.368-1.164 3.583l3.947 3.847c.495.483.721 1.178.604 1.86l-.932 5.432c-.294 1.716 1.507 3.025 3.048 2.215l4.878-2.565a2.099 2.099 0 0 1 1.955 0l4.878 2.565c1.541.81 3.343-.499 3.048-2.215l-.932-5.432a2.102 2.102 0 0 1 .604-1.86l3.948-3.847z"
            />
            <path
              class="st0"
              d="M126.508 85.098a3.581 3.581 0 0 0 .911-3.691 3.58 3.58 0 0 0-2.907-2.451l-5.454-.792a.6.6 0 0 1-.453-.329l-2.439-4.942a3.58 3.58 0 0 0-3.229-2.007 3.58 3.58 0 0 0-3.229 2.007l-2.439 4.942a.598.598 0 0 1-.453.329l-5.454.792a3.581 3.581 0 0 0-2.907 2.451 3.58 3.58 0 0 0 .912 3.691l3.946 3.846a.601.601 0 0 1 .173.532l-.932 5.432a3.578 3.578 0 0 0 1.432 3.521 3.578 3.578 0 0 0 3.793.274l4.877-2.564a.606.606 0 0 1 .56 0l4.878 2.564a3.589 3.589 0 0 0 3.793-.275 3.577 3.577 0 0 0 1.432-3.521l-.932-5.432a.6.6 0 0 1 .172-.532l3.949-3.845zm-6.041 1.699a3.603 3.603 0 0 0-1.035 3.187l.932 5.432a.578.578 0 0 1-.239.588.576.576 0 0 1-.633.046l-4.878-2.564a3.594 3.594 0 0 0-3.351 0l-4.877 2.564a.576.576 0 0 1-.633-.046.578.578 0 0 1-.239-.588l.932-5.432a3.601 3.601 0 0 0-1.036-3.187l-3.946-3.847a.575.575 0 0 1-.152-.616.576.576 0 0 1 .485-.409l5.454-.792a3.604 3.604 0 0 0 2.712-1.97l2.439-4.942a.576.576 0 0 1 .539-.335c.14 0 .395.043.539.334l2.439 4.943a3.604 3.604 0 0 0 2.712 1.97l5.454.792a.576.576 0 0 1 .485.409.575.575 0 0 1-.152.616l-3.951 3.847z"
            />
            <path
              class="st12"
              d="M178.919 84.024c1.247-1.215.559-3.333-1.164-3.583l-5.454-.793a2.1 2.1 0 0 1-1.582-1.149l-2.439-4.942c-.771-1.561-2.997-1.561-3.768 0l-2.439 4.942a2.1 2.1 0 0 1-1.582 1.149l-5.454.793c-1.723.25-2.411 2.368-1.164 3.583l3.947 3.847c.495.483.721 1.178.604 1.86l-.932 5.432c-.294 1.716 1.507 3.025 3.048 2.215l4.878-2.565a2.099 2.099 0 0 1 1.955 0l4.878 2.565c1.541.81 3.343-.499 3.048-2.215l-.932-5.432a2.102 2.102 0 0 1 .604-1.86l3.948-3.847z"
            />
            <path
              class="st0"
              d="M179.966 85.098a3.577 3.577 0 0 0 .911-3.691 3.581 3.581 0 0 0-2.907-2.451l-5.453-.792a.6.6 0 0 1-.453-.329l-2.439-4.942a3.577 3.577 0 0 0-3.229-2.007 3.578 3.578 0 0 0-3.229 2.007l-2.44 4.943a.598.598 0 0 1-.452.328l-5.453.792a3.58 3.58 0 0 0-2.907 2.451 3.576 3.576 0 0 0 .911 3.691l3.947 3.846a.6.6 0 0 1 .172.532l-.932 5.432a3.578 3.578 0 0 0 1.433 3.521 3.576 3.576 0 0 0 3.793.274l4.878-2.564a.6.6 0 0 1 .559 0l4.879 2.565a3.586 3.586 0 0 0 3.792-.275 3.58 3.58 0 0 0 1.433-3.521l-.932-5.433a.6.6 0 0 1 .173-.531l3.945-3.846zm-6.04 1.699a3.6 3.6 0 0 0-1.036 3.187l.932 5.432a.578.578 0 0 1-.239.588.575.575 0 0 1-.633.046l-4.878-2.564a3.601 3.601 0 0 0-3.352 0l-4.877 2.564a.573.573 0 0 1-.634-.045.578.578 0 0 1-.239-.588l.932-5.431a3.6 3.6 0 0 0-1.035-3.188l-3.947-3.847a.579.579 0 0 1-.152-.616.58.58 0 0 1 .486-.409l5.453-.792a3.6 3.6 0 0 0 2.711-1.97l2.439-4.943c.145-.291.399-.334.539-.334s.394.043.539.334l2.438 4.941a3.602 3.602 0 0 0 2.712 1.971l5.453.792a.58.58 0 0 1 .486.409.579.579 0 0 1-.152.616l-3.946 3.847z"
            />
            <path
              d="M139.15 43.04c-3.57 0-7.08.29-10.5.86 20.71 3.38 38.14 16.64 47.3 34.76l2.02.3c1.37.19 2.48 1.13 2.91 2.45.42 1.31.07 2.72-.91 3.69l-.88.85a64.27 64.27 0 0 1 3.78 21.8c0 32.11-23.51 58.84-54.22 63.86 3.42.57 6.93.86 10.5.86 35.68 0 64.72-29.03 64.72-64.72 0-35.68-29.04-64.71-64.72-64.71z"
              style="fill: #b9c239"
            />
          </svg>
        </div>
        <h3 class="font-medium text-gray-900">Satisfaction Guarantee</h3>
        <p class="mt-2 text-sm text-gray-500">
          Shop with confidence with our 10-day return policy.
        </p>
      </div>

      <div class="flex flex-col items-center text-center">
        <div
          class="w-12 h-12 flex items-center justify-center rounded-full bg-gray-100 mb-4"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <defs>
              <style>
                .cls-9 {
                  fill: #231f20;
                }
              </style>
            </defs>
            <g id="Secure_Payment" data-name="Secure Payment">
              <rect
                x="6"
                y="6"
                width="40"
                height="28"
                rx="2"
                ry="2"
                style="fill: #4ac6b7"
              />
              <path
                d="M44 6h-3a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2h3a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2z"
                style="fill: #37b7a4"
              />
              <path style="fill: #29a892" d="M6 11h40v7H6z" />
              <path style="fill: #1b967e" d="M43 11h3v7h-3z" />
              <circle cx="38" cy="26" r="3" style="fill: #ffbc5a" />
              <circle cx="33" cy="26" r="3" style="fill: #e05555" />
              <path
                d="M10.003 42C8.245 41.356 2 38.675 2 33.086v-8.144L10 22l8 2.942v8.144c0 5.616-6.237 8.276-7.997 8.914z"
                style="fill: #d3dbef"
              />
              <path
                d="M10 34a.999.999 0 0 1-.707-.293l-2-2a1 1 0 0 1 1.414-1.414l1.185 1.185L12.2 28.4a1 1 0 1 1 1.6 1.2l-3 4a.998.998 0 0 1-.729.398A1.128 1.128 0 0 1 10 34z"
                style="fill: #8491c1"
              />
              <path
                class="cls-9"
                d="M44 5H8a3.003 3.003 0 0 0-3 3v14.774l-3.345 1.23a1 1 0 0 0-.655.938v8.144c0 6.2 6.627 9.11 8.659 9.854a1.014 1.014 0 0 0 .343.06.996.996 0 0 0 .341-.06c1.81-.657 7.254-3.028 8.423-7.94H44a3.003 3.003 0 0 0 3-3V8a3.003 3.003 0 0 0-3-3zM7 12h38v5H7zm3.004 28.93C7.98 40.136 3 37.702 3 33.087V25.64l7-2.574 7 2.574v7.446c0 4.639-4.975 7.056-6.996 7.845zM45 32a1.001 1.001 0 0 1-1 1H19v-8.058a1 1 0 0 0-.655-.938l-8-2.943a1 1 0 0 0-.69 0L7 22.038V19h38zM7 10V8a1.001 1.001 0 0 1 1-1h36a1.001 1.001 0 0 1 1 1v2z"
              />
              <path
                class="cls-9"
                d="M33 30a3.96 3.96 0 0 0 2.49-.894 4 4 0 1 0 0-6.212A3.96 3.96 0 0 0 33 22a4 4 0 0 0 0 8zm7-4a2.002 2.002 0 0 1-2 2 1.968 1.968 0 0 1-1.302-.486 3.948 3.948 0 0 0 0-3.028A1.968 1.968 0 0 1 38 24a2.002 2.002 0 0 1 2 2zm-7-2a2 2 0 1 1-2 2 2.002 2.002 0 0 1 2-2zM12.2 28.4l-2.308 3.078-1.185-1.185a1 1 0 0 0-1.414 1.414l2 2A.999.999 0 0 0 10 34a.882.882 0 0 0 .07-.003.998.998 0 0 0 .73-.397l3-4a1 1 0 1 0-1.6-1.2z"
              />
            </g>
          </svg>
        </div>
        <h3 class="font-medium text-gray-900">Secure Payment</h3>
        <p class="mt-2 text-sm text-gray-500">
          Pay safely with our secure checkout options.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Best Selling Section -->
<section class="py-16 px-4 sm:px-6 lg:px-8 bg-white">
  <div class="max-w-7xl mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-2xl font-bold text-gray-900">Best Selling</h2>
    </div>
    <!-- Product cards to be added here later -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Example card (replace with dynamic content later) -->
      <div
        class="group border border-gray-100 py-3 px-3 bg-white rounded-lg overflow-hidden"
      >
        <div class="aspect-w-1 aspect-h-1 bg-white rounded-lg overflow-hidden">
          <img
            src="/images/sample product1.jpeg"
            alt="Sample Product"
            class="w-full h-64 object-contain"
          />
        </div>
        <div class="mt-4">
          <h3 class="text-base text-gray-700 font-semibold">ATOM Whey Protein with Enzymes</h3>
          <div class="flex items-center mt-2">
            <span class="text-sm font-bold text-gray-900">&#8377;7973</span>
          </div>
          <div class="mt-2 flex items-center">
            <div class="flex">
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="far fa-star text-gray-300 text-xs"></i>
              <i class="far fa-star text-gray-300 text-xs"></i>
            </div>
            <span class="ml-2 text-xs text-gray-600">(3.0)</span>
          </div>
        </div>
      </div>

      <div
        class="group border border-gray-100 py-3 px-3 bg-white rounded-lg overflow-hidden"
      >
        <div class="aspect-w-1 aspect-h-1 bg-white rounded-lg overflow-hidden">
          <img
            src="/images/sample2.webp"
            alt="Sample Product"
            class="w-full h-64 object-contain"
          />
        </div>
        <div class="mt-4">
          <h3 class="text-base text-gray-700 font-semibold">Wellcore - Creatine Monohydrate</h3>
          <div class="flex items-center mt-2">
            <span class="text-sm font-bold text-gray-900">&#8377;1199</span>
          </div>
          <div class="mt-2 flex items-center">
            <div class="flex">
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="far fa-star text-gray-300 text-xs"></i>
              <i class="far fa-star text-gray-300 text-xs"></i>
            </div>
            <span class="ml-2 text-xs text-gray-600">(3.0)</span>
          </div>
        </div>
      </div>

      <div
        class="group border border-gray-100 py-3 px-3 bg-white rounded-lg overflow-hidden"
      >
        <div class="aspect-w-1 aspect-h-1 bg-white rounded-lg overflow-hidden">
          <img
            src="/images/sample3.webp"
            alt="Sample Product"
            class="w-full h-64 object-contain"
          />
        </div>
        <div class="mt-4">
          <h3 class="text-base text-gray-700 font-semibold">MuscleBlaze Whey Protein</h3>
          <div class="flex items-center mt-2">
            <span class="text-sm font-bold text-gray-900">&#8377;5649</span>
          </div>
          <div class="mt-2 flex items-center">
            <div class="flex">
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="far fa-star text-gray-300 text-xs"></i>
              <i class="far fa-star text-gray-300 text-xs"></i>
            </div>
            <span class="ml-2 text-xs text-gray-600">(3.0)</span>
          </div>
        </div>
      </div>

      <div
        class="group border border-gray-100 py-3 px-3 bg-white rounded-lg overflow-hidden"
      >
        <div class="aspect-w-1 aspect-h-1 bg-white rounded-lg overflow-hidden">
          <img
            src="/images/sample 4.jpg"
            alt="Sample Product"
            class="w-full h-64 object-contain"
          />
        </div>
        <div class="mt-4">
          <h3 class="text-base text-gray-700 font-semibold">Optimum Nutrition Gold Standard</h3>
          <div class="flex items-center mt-2">
            <span class="text-sm font-bold text-gray-900">&#8377;3625</span>
          </div>
          <div class="mt-2 flex items-center">
            <div class="flex">
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="fas fa-star text-yellow-400 text-xs"></i>
              <i class="far fa-star text-gray-300 text-xs"></i>
              <i class="far fa-star text-gray-300 text-xs"></i>
            </div>
            <span class="ml-2 text-xs text-gray-600">(3.0)</span>
          </div>
        </div>
      </div>
      <!-- Add more cards -->
    </div>
  </div>
</section>

<!-- Game Day Ready Section -->
<section class="px-4 sm:px-6 lg:px-8 bg-gray-50">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div>
        <h2 class="text-4xl font-bold text-gray-900">
          Built by Science – Backed by Strength
        </h2>
        <p class="mt-4 text-sm text-gray-600">
          Explore our premium supplements—designed to fuel strength, boost
          recovery, and elevate performance.
        </p>
        <a href="/products">
          <button
            class="mt-6 bg-gray-900 text-white px-6 py-2 text-sm font-medium rounded hover:bg-gray-800 transition-colors flex items-center"
          >
            EXPLORE MORE
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4 ml-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </button>
        </a>
      </div>
      <div class="flex justify-end">
        <img
          src="/images/Fitness.jpeg"
          alt="Fitness model"
          class="h-[400px] grayscale-[0.6] brightness-150 saturate-25"
        />
      </div>
    </div>
  </div>
</section>

<!-- New Arrivals Section -->
<section class="py-16 px-4 sm:px-6 lg:px-8 bg-white">
  <div class="max-w-7xl mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-2xl font-bold text-gray-900">New Arrivals</h2>
      <p class="mt-2 text-sm text-gray-600">
        Check out our latest health supplements and fitness products.
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <% if (newArrivals && newArrivals.length > 0) { %>
        <% newArrivals.forEach(item => { %>
          <a 
            href="/products/<%= item.productId %>?variant=<%= item.variantId %>" 
            class="group block border border-gray-100 py-3 px-3 bg-white rounded-lg overflow-hidden hover:shadow-lg transition"
          >
            <!-- Variant Image -->
            <div class="aspect-w-1 aspect-h-1 bg-white rounded-lg overflow-hidden">
              <img 
                src="<%= item.images[0] %>" 
                alt="<%= item.title %>" 
                class="w-full h-64 object-contain group-hover:scale-105 transition-transform duration-300"
              />
            </div>

            <!-- Variant Info -->
            <div class="mt-4">
              <h3 class="text-base text-gray-700 font-semibold">
                <%= item.title %>
              </h3>
              <p class="text-sm text-gray-500">
                <%= item.flavour %> - <%= item.size %>
              </p>

              <!-- Price -->
              <div class="flex items-center mt-2">
                <% if (item.discounted_price) { %>
                  <span class="text-sm font-bold text-gray-900">
                    ₹<%= item.discounted_price %>
                  </span>
                  <span class="ml-2 text-xs line-through text-gray-500">
                    ₹<%= item.price %>
                  </span>
                <% } else { %>
                  <span class="text-sm font-bold text-gray-900">
                    ₹<%= item.price %>
                  </span>
                <% } %>
              </div>
            </div>
          </a>
        <% }) %>
      <% } else { %>
        <p class="text-gray-500">No new arrivals available.</p>
      <% } %>
    </div>
  </div>
</section>

